<ActionBar title="List View"></ActionBar>
<ActivityIndicator #activityIndicator busy="{{ isLoading }}" (busyChange)="onBusyChanged($event)" width="100" height="100" class="activity-indicator"></ActivityIndicator>
<GridLayout>
    <ListView [items]="newsList" class="small-spacing">
        <ng-template let-item="item">
            <AbsoluteLayout (tap) = "viewNews(item)">
                <Image src="{{ item.urlToImage }}" width="50" height="50"></Image>
                <Label [text]="item.title" class="medium-spacing" left="50"></Label>
            </AbsoluteLayout>
        </ng-template>
    </ListView>
</GridLayout>